<section class="container content-section">
	<h2 class="section-header">CART</h2>
	<div class="cart-row">
		<span class="cart-item cart-header cart-column">ITEM</span>
		<span class="cart-price cart-header cart-column">PRICE</span>
		<span class="cart-quantity cart-header cart-column">QUANTITY</span>
	</div>
	<div class="cart-items"></div>
	<div class="cart-total">
		<strong class="cart-total-title">Total</strong>
		<span class="cart-total-price">$0</span>
	</div>

	<a href="/checkout" class="btn btn-primary btn-purchase hidden">Proceed to Checkout</a>
	<!-- <form action="/store" method="post" id="checkout">
	</form> -->
	<% if(locals.errMsg) { %> 
	<output class="output error">Error: <%= errMsg %></output>
	<% } %> 
</section>
