<footer class="main-footer">
	<div class="container main-footer-container">
		<h3 class="band-name">The Generics</h3>
		<ul class="nav footer-nav">
			<li>
				<a
					href="https://www.youtube.com/channel/UCpnDqArtNrm7FRWZyT5M5iA"
					target="_blank"
				>
					<img
						src="/res/YouTube%20Logo.png"
						alt="youtube logo"
					/>
				</a>
			</li>
			<li>
				<a href="https://soundcloud.com/thegenericsmemphis" target="_blank">
					<img
						src="/res/Soundcloud-Logo.png"
						alt="soundcloud logo"
					/>
				</a>
			</li>
			<li>
				<a
					href="https://www.facebook.com/The-Generics-41983609940/"
					target="_blank"
				>
					<img
						src="/res/Facebook%20Logo.png"
						alt="facebook logo"
					/>
				</a>
			</li>
		</ul>
	</div>
</footer>