<section class="container content-section">
	<%- include('../partials/music.ejs') %> 
</section>
<section class="container content-section">
<%- include('../partials/merch.ejs') %> 
</section>
<section class="container content-section">
	<%- include('../partials/cart.ejs') %> 
</section>
